{% extends 'base.html.twig' %}

{% block body %}
    <section class="relative overflow-hidden bg-body-950 shapedividers_com-3049">
        <img src="{{ asset('images/ashley_nature-s.jpg') }}"
             srcset="{{ asset('images/ashley_nature-m.jpg') }} 800w, {{ asset('images/ashley_nature-lg.jpg') }} 1200w"
             alt="Breathing Nook - Get in touch!" class="absolute inset-0 object-cover w-full h-full opacity-80 object-[right_40%] lg:object-[center_40%]">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:px-6 relative">
            <div class="max-w-screen-md pt-42 relative">
                <h1 class="flex flex-col mb-8 md:mb-6 text-3xl leading-10 font-bold text-body-100 uppercase">
                    Get in touch!
                </h1>
                <p data-aos="fade-in" data-aos-delay="100" class="mb-8 font-light text-body-100 sm:text-xl">
                    If you’re interested in learning more about breathwork or yoga for health, the best way is to set up a <strong>free 15 minute consultation</strong> using the link below.
                </p>
                <a href="{{ path('consultation') }}" data-aos="fade-in" data-aos-delay="300" class="group relative inline-flex h-12 items-center justify-center overflow-hidden rounded-md bg-neutral-200 px-6 font-medium text-primary-700 mb-12">
                    <span>Free Consultation</span>
                    <span class="ml-1 transition group-hover:translate-x-1">
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
                        </svg>
                    </span>
                </a>
            </div>
        </div>
    </section>

    <section id="contact" class="relative overflow-hidden">
        <div class="mx-auto max-w-screen-xl flex flex-col lg:flex-row items-center justify-between px-4 sm:px-6 lg:px-8 py-6 lg:py-12">
            <main class="mx-auto px-4 basis-100 lg:basis-2/3">
                <div class="text-left text-stone-700">
                    <h2 class="mb-6 text-center tracking-tight font-extrabold text-stone-700 text-4xl">
                        Stay in touch
                    </h2>
                    <p class="mb-4 lg:mb-8 font-light text-gray-500">Sign up to receive monthly emails that share my schedule, my thoughts, access to free breathwork classes - and maybe the occasional picture of my dogs.</p>

                    <form action="#" class="space-y-8">
                        <div>
                            <label for="email" class="block mb-2 text-sm font-medium text-stone-700">Your email</label>
                            <input type="email" id="email" class="shadow-sm bg-stone-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5" placeholder="name@email.com" required>
                        </div>
                        <div>
                            <label for="subject" class="block mb-2 text-sm font-medium text-stone-700">Subject</label>
                            <input type="text" id="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500" placeholder="Let us know how we can help you" required>
                        </div>
                        <div class="sm:col-span-2">
                            <label for="message" class="block mb-2 text-sm font-medium text-stone-700">Your message</label>
                            <textarea id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500" placeholder="Leave a comment..."></textarea>
                        </div>
                        <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300">Send message</button>
                    </form>
                </div>
            </main>
{#            <div class="pt-10 lg:pt-18 basis-100 lg:basis-1/3">#}
{#                <img class="h-56 w-full object-cover object-top sm:h-72 md:h-96 lg:w-full lg:h-full rounded-md lg:rounded-xl"#}
{#                     src="{{ asset('images/About_Ashley.jpg') }}" alt="">#}
{#            </div>#}
        </div>
    </section>
{% endblock %}
